@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --corPrincipal: #e3e9f7;
}


body {
    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    background-color: var(--corPrincipal);
    margin: 0;
    padding: 0;
}

#sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2196F3;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: fixed;
    transition: all .5s;
    min-width: 82px;

}

header {
    grid-area: header;
    height: 100px;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 40px;
    padding-left: 240px;
}

main {
    grid-area: main;
    padding: 20px;
    padding-left: 220px;
}

#img {
    display: flex;
    justify-content: center;
    align-items: center;
}



#side_items {
    display: flex;
    flex-direction: column;
    margin: 15px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
    margin: 8px;
}

.side-item.active {
    background-color: #ffff;
}

.side-item:hover:not(.active),
#config_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#config {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#config_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #CCE8F3;
    color: #e3e9f7;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;

}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#barraDePesquisa {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 8px 90px 8px 8px;
    border-radius: 15px;
    gap: 8px;
    width: 30%;
}

#icone-pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
    min-width: 32px;
    min-height: 32px;
}

#pesquisar{
    width: 100%;
    border: none;
    background: transparent;
    
}

#pesquisar:focus {
    outline: none;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px;
}

.card {
    background: #FDFDFD;
    border: 1px solid #ccc;
    height: 400px;
    width: 355px;
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
    font-size: 15px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
}


.card img {
    margin: 20px 10px 10px 10px;
    width: 290px;
    border-radius: 10px;
}

.main-infos-um{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.main-infos-um h3{
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-infos-dois{
    display: flex;
    box-sizing: border-box;
    padding: 90px 30px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-infos-dois p{
    display: flex;
    flex-direction: row;
}

.main-infos-dois button{
    border: none;
    background: transparent;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}