@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');


:root{
    --fontePrincipal:"Inter", sans-serif;
    --corPrincipal: #79d9ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: #F3F5FC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#principalTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: var(--fontePrincipal);
    font-weight: 700;
    color:var(--corPrincipal);
}

#principalConteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap: 16px;
    margin: 35px;
}

#principalCampos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

label{
    font-size: 1rem;
    font-family: var(--fontePrincipal);
    font-weight: 500;
}

#inputCampos{
    padding: 8px 50px 8px 8px;
    border-radius: 8px;
    border: #E0E0E0 1px solid;
    box-shadow: 0px 1px 2px #00000005 ; 
}

#principalBotoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#principalBotoes input{
    padding: 10px 20px;
    font-family: var(--fontePrincipal);
    background: var(--corPrincipal);
    border: none;
    border-radius: 8px;
    color: white;
}

a{
    display: flex;
    text-decoration: none;
    margin: 6px 0 0 6px ;
    font-size: 14px;
}